html {
  /* Currently supported in Firefox & Chrome [with flags] only */
  scroll-behavior: smooth;
}
.jumbotron {
  padding: 5px 0px !important;
}
.index-item {
  list-style: none;
  padding: 5px;
  cursor: pointer;
}
.index-item:hover {
  background-color: #E4E4E4;
}
.index-item.active {
  background-color: #02749C;
  color: white;
  margin-left: 0;
}
.mainContainerButtons {
  margin: 5px;
}
#containers {
  margin: 10px 0px 60px 0px;
  padding-top: 10px;
}
#mainContainer, #dataContainer {
  display:none;
  border: 1px #e4e4e4 solid;
  overflow: auto;
}
.container-header {
  background-color: rgb(203, 33, 14);
  color: white;
  margin: 0px -15px 12px;
}
